{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Latest News</h1>
  <div id="articles-container" class="row row-cols-1 row-cols-md-2 g-4">
    {% for news in articles %}
    <div class="col">
      <div class="card custom-card">
        <a
          href="{% url 'article' news.id %}"
          class="text-decoration-none text-dark"
        >
          <img
            src="{{news.image.url}}"
            class="card-img-top custom-card-img"
            alt="News Image"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">{{news.title}}</h5>
          <p class="card-text">{{news.content | truncatewords:30}}</p>
          <div class="news-tags">
            {% for tag in news.tags.all %}
            <a href="{% url 'articles_by_tag' tag.name %}">
              <span class="badge bg-secondary">{{ tag.name }}</span>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
